<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <welcome-file-list>
        <welcome-file>Greeting.jsp</welcome-file>
    </welcome-file-list>


      <display-name>Archetype Created Web Application</display-name>
     <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.example.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierController</servlet-name>
        <servlet-class>com.example.controller.SupplierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierController</servlet-name>
        <url-pattern>/supplierController</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>GreetingJsp</servlet-name>
        <jsp-file>/Greeting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingJsp</servlet-name>
        <url-pattern>/Greetingmenu</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>ShowProductsJsp</servlet-name>
        <jsp-file>/ShowProducts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProductsJsp</servlet-name>
        <url-pattern>/allProducts</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>ShowSuppliersJsp</servlet-name>
        <jsp-file>/ShowSuppliers.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowSuppliersJsp</servlet-name>
        <url-pattern>/allSuppliers</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>InsertProduct.jsp</servlet-name>
        <jsp-file>/InsertProduct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertProduct.jsp</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>
</web-app>